@page
@model SeguimientoVirtual.App.Presentacion.Pages.Estudiantes.ActividadModel
@{
}

<h2>Registro Actividad</h2>

<form class="col" method="post">

    
    <div class="col-sm-12 col-md-6 col-lg-4">
        <label asp-for="estudiante.Id"></label>
        <input asp-for="estudiante.Id" class="form-control" readonly>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
        <label asp-for="estudiante.Nombre"></label>
        <input asp-for="estudiante.Nombre" class="form-control" readonly>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
        <label asp-for="estudiante.Apellidos"></label>
        <input asp-for="estudiante.Apellidos" class="form-control" readonly>
    </div>    
    <div class="col-sm-12 col-md-6 col-lg-4">
        <label asp-for="actividad.Nombre"></label>
        <input asp-for="actividad.Nombre" class="form-control" required="required">
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
        <label asp-for="actividad.Descripcion"></label>
        <input asp-for="actividad.Descripcion" class="form-control" required="required">
    </div>
    <button type="submit" class="btn btn-primary">Registrar</button>
    <a asp-page="./ConsultarEstudiantes" class="btn btn-primary">Lista estudiantes</a>

</form> 
