@page
@model AppEstudiantil.App.Presentacion.Pages.Estudiantes.CrearEstudiantesModel
@{
}
<h1>Creación estudiantes</h1>
<form class="row" method="post">
    <div class="col-sm-12 col-md-6 col-lg-4">
        <label asp-for="estudiante.Nombre"></label>
        <input asp-for="estudiante.Nombre" class="form-control" required="required">
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
        <label asp-for="estudiante.Apellidos"></label>
        <input asp-for="estudiante.Apellidos" class="form-control" required="required">
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
        <label asp-for="estudiante.NumeroTelefono"></label>
        <input asp-for="estudiante.NumeroTelefono" class="form-control" required="required">
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
        <label asp-for="estudiante.Genero"></label>
        <input asp-for="estudiante.Genero" class="form-control" required="required">
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
        <label asp-for="estudiante.Ciudad"></label>
        <input asp-for="estudiante.Ciudad" class="form-control" required="required">
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
        <label asp-for="estudiante.FechaNacimiento"></label>
        <input asp-for="estudiante.FechaNacimiento" class="form-control" required="required">
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
        <label asp-for="estudiante.Direccion"></label>
        <input asp-for="estudiante.Direccion" class="form-control" required="required">
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
        <label asp-for="estudiante.Latitud"></label>
        <input asp-for="estudiante.Latitud" class="form-control" required="required">
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
        <label asp-for="estudiante.Longitud"></label>
        <input asp-for="estudiante.Longitud" class="form-control" required="required">
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
        <label asp-for="estudiante.Grado"></label>
        <input asp-for="estudiante.Grado" class="form-control" required="required">
    </div>
    
</form> 
<button type="submit" class="btn btn-primary">Enviar</button>
<a class="btn btn-primary" asp-page="/Estudiantes/ConsultarEstudiantes">Consultar estudiantes</a>

